body{
    display:flex;
    justify-content: center;
    
}
.container{
    width: 400px;
    height:400px;
}
.inputs{
    display:flex;
    justify-content:center;
    flex-direction: column;
}
input{
    
    height:50px;
    width:250px;
    border:2px solid black;
}
.submit{
    margin-top: 15px;
}